{% extends "layout.html" %}
{% block title %}
Decades
{% endblock %}
{% block main %}
<html>
   <head>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   </head>
   <body>
      <!-- https://kenneho.net/2021/07/11/plotly-without-dash/ -->
      <h1>Song Decades</h1>
      {% block content %}
      {{decade | safe}}
      {% endblock %}
      <text>Percentage of songs in playlist released each decade.</text>
   </body>
   <hr>
   <footer class="mb-5 small text-center text-muted">
      <a href="/nav">Navigation</a>
      <text>|</text>
      <a href="/raw">Raw Data</a>
      <text>|</text>
      <a href="/minutes">Song Lengths</a>
      <text>|</text>
      <a href="/mode">Major vs Minor Key</a>
      <text>|</text>
      <a href="/dance">Danceability</a>
      <text>|</text>
      <a href="/aco">Acousticness</a>
      <text>|</text>
      <a href="/ene">Energy</a>
      <text>|</text>
      <a href="/liv">Liveness</a>
      <text>|</text>
      <a href="/tempo">Tempo</a>
      <text>|</text>
      <a href="/key">Key</a>
      <text>|</text>
      <a href="/val">Valence</a>
   </footer>
   {% endblock %}