{% extends "layout.html" %}
{% block title %}
Liveness
{% endblock %}
{% block main %}
<html>
   <!-- https://kenneho.net/2021/07/11/plotly-without-dash/ -->
   <head>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   </head>
   <body>
      <h1>Liveness</h1>
      {% block content %}
      {{liv | safe}}
      {% endblock %}
      <text>Percentage of songs with liveness (how much audience presence) in denoted ranges. This is a 0.0 (least) to 1.0 (most) measure of audience presence in a song, according to Spotify.</text>
   </body>
   <hr>
   <footer class="mb-5 small text-center text-muted">
      <a href="/nav">Navigation</a>
      <text>|</text>
      <a href="/raw">Raw Data</a>
      <text>|</text>
      <a href="/decade">Decades</a>
      <text>|</text>
      <a href="/minutes">Song Lengths</a>
      <text>|</text>
      <a href="/mode">Major vs Minor Key</a>
      <text>|</text>
      <a href="/dance">Danceability</a>
      <text>|</text>
      <a href="/aco">Acousticness</a>
      <text>|</text>
      <a href="/ene">Energy</a>
      <text>|</text>
      <a href="/tempo">Tempo</a>
      <text>|</text>
      <a href="/key">Key</a>
      <text>|</text>
      <a href="/val">Valence</a>
   </footer>
   {% endblock %}