{% extends "layout.html" %}
{% block title %}
Navigation
{% endblock %}
{% block main %}
<head>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
   <h1>Navigation</h1>
   <img src = "https://cdn.pixabay.com/photo/2020/04/14/08/09/statistics-5041374_960_720.png"  width="400" height="400" />>
   <br>
   <a href="/raw">Raw Data</a>
   <br>
   <a href="/decade">Decades</a>
   <br>
   <a href="/minutes">Song Lengths</a>
   <br>
   <a href="/mode">Major vs Minor Key</a>
   <br>
   <a href="/dance">Danceability</a>
   <br>
   <a href="/aco">Acousticness</a>
   <br>
   <a href="/ene">Energy</a>
   <br>
   <a href="/liv">Liveness</a>
   <br>
   <a href="/key">Key</a>
   <br>
   <a href="/val">Valence</a>
   <br>
   <a href="/tempo">Tempo</a>
</body>
{% endblock %}